<a href="https://colab.research.google.com/github/Livia711/livia/blob/main/Untitled14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3
# CREATE (Criação da tabela e incrição de dados de exemplo)
conn = sqlite3.connect('mydatabase.db')
cursor = conn.cursor()
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Contatos (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        nome TEXT,
        email TEXT,
        telefone TEXT
    )
''')
dados_exemplo = [
    ( 'João', 'joao@gmail.com',  '123-456-789' ),
    ( 'Maria', 'maria@gmail.com', '987-654-3210' ),
    ( 'Pedro', 'pedro@gmail.com', '555-555-5555' ),
]
cursor.executemany('INSERT INTO Contatos (nome, email, telefone) VALUES (?, ?, ?)', dados_exemplo)
conn.commit()

# READ (Leitura e exibição de contatos)
cursor.execute('SELECT * FROM Contatos')
contatos = cursor.fetchall()
print("Contatos:")
for contato in contatos:
    print ( contato)

    # UPDATE ( Atualização do número de telefone com o ID 2 )
    novo_telefone = '999-999-999'
    contato_id = 2
cursor.executemany('INSERT INTO Contatos(nome, email, telefone) VALUES (?, ?, ?)', dados_exemplo)
conn.commit()

    # DELETE ( Exclusão do contato com ID 1)
contato_id_excluir = 1

cursor.execute('DELETE FROM Contatos WHERE id = ?', (contato_id_excluir,))
conn.commit()

    # Fechar a conexão com o banco de dados
conn.close()