<a href="https://colab.research.google.com/github/Livia711/livia/blob/main/Untitled17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [51]:
import pandas as pd

# Criando uma lista de valores
exemplo1 = [10, 20, 30, 40, 50]

#Criando uma Series a partir da lista
series1 = pd.Series(data = exemplo1)

#Exibindo a Series
print(series1)
print (exemplo1)

0    10
1    20
2    30
3    40
4    50
dtype: int64
[10, 20, 30, 40, 50]

In [55]:
import pandas as pd

# Criando um dicionario com pares chave-valor
Exemplo2 = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 500}

# Criando uma Series a partir do dicion√°rio
series2 = pd.Series(data = Exemplo2)

# Exibindo a Series
print(series2)
#print(Exemplo2)

a    100
b    200
c    300
d    400
e    500
dtype: int64

In [56]:
import pandas as pd
url = 'https://www.fdic.gov/bank-failures/failed-bank-list/'
dfs = pd.read_html(url)

print(type(dfs))
print(len(dfs))

<class 'list'>
1

In [59]:
df_bancos = dfs[0]

In [60]:
print(df_bancos.shape)

(10, 7)

In [61]:
print(df_bancos.dtypes)

Bank Name               object
City                    object
State                   object
Cert                     int64
Aquiring Institution    object
Closing Date            object
Fund                     int64
dtype: object

In [62]:
df_bancos.head()

,Bank Name,City,State,Cert,Aquiring Institution,Closing Date,Fund
0,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
1,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
2,Heartland Tri-State Bank,Elkhart,Kansas,25851,"Dream First Bank, N.A.","July 28, 2023",10544
3,First Republic Bank,San Francisco,California,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
4,Signature Bank,New York,New York,57053,"Flagstar Bank, N.A.","March 12, 2023",10540

In [63]:
import pandas as pd

# Criar um dicionario com nomes e idades
dados={
    'Nome': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Idade': [25, 30, 22, 35, 28]
}
# Criar uma serie a partir do dicionario
serie_idades = pd.Series(dados['Idade'], index=dados['Nome'])

# Exibir serie de idades
print("Serie_de_idades:")
print(serie_idades)
# Calcular a media das idades
media_idades = serie_idades.mean()

# Exibir a media das idades
print("\nMedia das idades:", media_idades)

Serie_de_idades:
Alice      25
Bob        30
Charlie    22
David      35
Eve        28
dtype: int64

Media das idades: 28.0